@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,800;1,400;1,800&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap");
body {
  margin: 0px;
}

html {
  font-family: "Open Sans", sans-serif;
}

.site-header {
  padding: 20px;
  border-bottom: 1px solid #f3f3f3;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.site-header .title {
  flex: 5;
}
.site-header .nav {
  flex: 5;
  justify-content: flex-end;
  flex-flow: row;
  display: flex;
}
.site-header .nav a {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.section {
  display: flex;
  min-height: 100%;
  flex-flow: column;
}

.container {
  width: 100%;
}
.container.header-container {
  padding-top: 100px;
  flex: 1;
  min-height: 100%;
  height: 100%;
  background-color: black;
}

.gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#cc99ff), to(#99d6ff));
  background: -webkit-linear-gradient(#cc99ff, #99d6ff);
  background: -o-linear-gradient(#cc99ff, #99d6ff);
  background: linear-gradient(#cc99ff, #99d6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  color: white;
}

.columns {
  display: flex;
  width: 100%;
}
.columns.white-bg {
  background-color: white;
}
.columns.tall {
  height: 700px;
}
.columns .column.size-1 {
  flex: 1;
}
.columns .column.size-2 {
  flex: 2;
}
.columns .column.size-3 {
  flex: 3;
}
.columns .column.size-4 {
  flex: 4;
}
.columns .column.size-5 {
  flex: 5;
}
.columns .column.size-6 {
  flex: 6;
}
.columns .column.size-7 {
  flex: 7;
}
.columns .column.size-8 {
  flex: 8;
}
.columns .column.size-9 {
  flex: 9;
}
.columns .column.size-10 {
  flex: 10;
}
.columns .column.has-content-centered {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.buttons {
  width: 300px;
  margin-top: 30px;
  display: flex;
  flex-flow: column;
}

.button {
  color: #fff;
  font-size: 18px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  background: -webkit-gradient(linear, right bottom, left top, from(#cc99ff), to(#99d6ff));
  border: 0;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 4%;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 25px 0;
  z-index: 1;
  transition: 0.25s;
}
.button:hover {
  transform: scale(1.05);
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 5px;
  font-size: 4em;
  line-height: 1.2em;
  margin-top: 5px;
}

h2 {
  font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 5px;
}
