body {
    width: 100%;
    margin: 0px;
}

#bg {
    float: right;
    margin-top: -14%;
}

#nav ul {
    display:inline;
}

#nav {
    text-align: center;
    background-color: black;
    padding: 15px 0 15px 0;
    left: 0;
    right: 0;
    width: 100%;
}

#nav a {
    background-color: black;
    display: inline;
    padding: 0 10px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont,"Roboto", sans-serif;
    font-weight: 300;
}

#nav a:link { color: white}
#nav a:visited {color: white}
#nav a:active {color: white}
#nav a:hover { color: #cc99ff;}
#nav a:focus { color: #cc99ff;}
